{% extends 'main.html' %} {% block content %}

<main class="page-wrap">
  <section class="home-panel">
    <div
      class="workouts-container"
      style="
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 0 20px;
      "
    >
      {% for workout in workouts %}
      <form method="post" action="{% url 'new' workout.id %}">
        {% csrf_token %}
        <input type="hidden" name="is_active" value="false" />
        <input type="hidden" name="save_id" value="0" />
        <button type="submit" class="card big">
          <div class="card-body">
            <h3 class="card-subtitle">{{ workout.name }}</h3>
            <div class="card-divider"></div>
            <p class="card-username">Készítő: {{ workout.userid.username }}</p>
          </div>
        </button>
      </form>
      {% endfor %}
    </div>
  </section>
</main>

{% endblock %}
